<!--
SPDX-FileCopyrightText: 2022 Profian Inc. <opensource@profian.com>
SPDX-License-Identifier: AGPL-3.0-only
-->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Try Enarx</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/ace.min.js"
        integrity="sha512-7Jmn5XgQKvX7kd2yARvOywZYQfC6eB7WLLdpWfGifPHe+93PwGf2BpkrX/vPRgPxllivNDnD8TSMHpYb60opMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/mode-toml.min.js"
        integrity="sha512-8QOETbDki7akpeMrYulOWuKx9MRoOYo7VqMuudle9ek/WN/pXcWhV6GL+tSyAoLigUwFuJHiN31Sao+trgPoPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://enarx.dev">
                <img src="https://try.enarx.dev/img/enarx.png">
            </a>

            <div class="navbar-item p-0">by</div>

            <a class="navbar-item" href="https://profian.com">
                <img src="https://try.enarx.dev/img/profian.svg" style="width: 100px">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" id="auth" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <article class="message is-warning" id="warning_message" style="display: none">
                <div class="message-header">
                    <p>Warning</p>
                    <button class="delete" aria-label="delete" onclick="hideMessage()"></button>
                </div>
                <div id="message-body" class="message-body">
                    <span id="message"></span>
                </div>
            </article>

            <div class="content">
                <p>
                    This site allows you to run a test WebAssembly workload in an Enarx Keep.
                    Once you have logged in, you simply need to upload a WebAssembly file along with <a
                        href="https://enarx.dev/docs/running/enarx_toml">the Enarx runtime configuration</a>.
                    For some sample applications you can use, check out the <a
                        href="https://github.com/enarx/codex">Enarx Codex</a>.
                    Learn more at <a href="https://www.enarx.dev/">www.enarx.dev</a>.
                    {% if star %}
                    Thanks for starring the Enarx project!
                    {% else %}
                    To raise the workload limits, star <a href="https://github.com/enarx/enarx">the Enarx project</a>.
                    {% endif %}
                </p>
            </div>

            <form enctype="multipart/form-data" method="post" onsubmit="submitWorkloadForm()">
                <div id="upload_file" class="file has-name" style="display: inline-block">
                    <label class="file-label">
                        <input class="file-input" type="file" name="wasm" accept="application/wasm"
                            onchange="updateWorkloadSubmit()">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a Wasm file…
                            </span>
                        </span>
                        <span class="file-name">
                            No file uploaded
                        </span>
                    </label>
                </div>
                <span class="is-pulled-right p-2">
                    <span class="has-text-weight-bold">Workload Limits:</span>
                    <span>{{ ttl }} seconds / {{ size }} MiB</span>
                </span>
                <br />

                <input id="upload_toml" type="hidden" name="toml" />
                <br />

                <pre id="editor" style="min-height: 50vh; resize: none">{{ toml }}</pre>
                <br />

                <input id="upload_submit" type="submit" class="button is-primary is-large" value="Deploy"
                    style="width: 100%" disabled />
            </form>
        </div>
    </section>
    <!-- A quick workaround to get data into javascript without breaking anything is to use invisible tags -->
    {% if user %}<div id="authenticated" style="display: none"></div>{% endif %}
    <script>
        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        var authenticated = window.document.getElementById("authenticated");
        var queryParams = new URLSearchParams(window.location.search);
        var messageCode = queryParams.get('message');
        var messageHTML = [];
        var warningMessage = window.document.getElementById("warning_message");
        var messageDiv = window.document.getElementById("message");

        // SECURITY: Do not put query parameter values in messageHTML.
        switch (messageCode) {
            case 'too_many_workloads': {
                messageHTML.push("Too many workloads are running on this server! Please try again later.");
                break;
            }
            default: {
                break;
            }
        }

        if (authenticated) {
            var authLink = window.document.getElementById("auth");
            authLink.setAttribute("href", "/logout");
            authLink.textContent = "Logout";
        } else {
            var uploadFile = window.document.getElementById("upload_file");
            uploadFile.setAttribute("style", "display: none");
            messageHTML.push('Please <a href="/login">Log in</a> with GitHub to submit Wasm workloads.');
        }

        if (messageHTML.length !== 0) {
            warningMessage.setAttribute("style", "");
            messageDiv.innerHTML = messageHTML.join("<br />")
        }

        var enarxTomlEditor = ace.edit("editor");
        enarxTomlEditor.session.setMode("ace/mode/toml");

        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });

        function hideMessage() {
            warningMessage.setAttribute("style", "display: none");
        }

        function submitWorkloadForm() {
            var uploadToml = window.document.getElementById("upload_toml");
            uploadToml.setAttribute("value", enarxTomlEditor.getValue());
        }

        function updateWorkloadSubmit() {
            var fileInput = document.querySelector('#upload_file input[type=file]');
            var uploadSubmit = window.document.getElementById("upload_submit");

            if (fileInput.files.length > 0) {
                var fileName = document.querySelector('#upload_file .file-name');
                fileName.textContent = fileInput.files[0].name;
                uploadSubmit.removeAttribute("disabled");
            } else {
                uploadSubmit.setAttribute("disabled", "");
            }
        }

        if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
            updateWorkloadSubmit()
        }
    </script>

</body>

</html>
