<!-- SPDX-FileCopyrightText: 2022 Profian Inc. <opensource@profian.com> -->
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Try Enarx: Confidential Computing + WebAssembly">
    {% match page %}
    {% when Page::Examples %}
    <title>Try Enarx - Examples</title>
    {% when Page::Drawbridge %}
    <title>Try Enarx - Drawbridge</title>
    {% when Page::Upload %}
    <title>Try Enarx - Upload</title>
    {% endmatch %}
    <link rel="stylesheet" href="https://try.enarx.dev/css/style.css">
    <link rel="stylesheet" href="https://try.enarx.dev/css/bulma-docs.min.css">
    <link rel="canonical" href="https://try.enarx.dev/">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async=""></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/ace.min.js"
        integrity="sha512-7Jmn5XgQKvX7kd2yARvOywZYQfC6eB7WLLdpWfGifPHe+93PwGf2BpkrX/vPRgPxllivNDnD8TSMHpYb60opMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/mode-toml.min.js"
        integrity="sha512-8QOETbDki7akpeMrYulOWuKx9MRoOYo7VqMuudle9ek/WN/pXcWhV6GL+tSyAoLigUwFuJHiN31Sao+trgPoPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" media="all">
    <style>
        #console {
            font-family: 'Courier New', Courier, monospace;
            background-color: black;
            color: white;
            overflow: scroll;
            overflow-wrap: normal;
            display: block;
            height: 28em;
        }

        .unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #cc0000;
        }

        #editor {
            min-height: 30vh;
            resize: none;
        }

        .tile {
            max-width: 100%;
        }

        .mobile-nav {
            display: none
        }

        .non-mobile-nav {
            display: inherit
        }

        @media screen and (max-width: 780px) {
            .mobile-nav {
                display: inline
            }

            .non-mobile-nav {
                display: none
            }
        }

        nav[data-authenticated="true"] .login {
            display: none !important
        }

        nav[data-authenticated="false"] .logout {
            display: none !important
        }
    </style>
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation" data-authenticated="true">
        <!-- mobile only navigation -->
        <div class="mobile-nav">
            <div class="navbar-brand" style="width: 100%">
                <a class="navbar-item" href="https://enarx.dev" target="_blank">
                    <img src="https://try.enarx.dev/img/enarx.png" alt="Enarx">
                </a>

                <div class="navbar-item p-0 unselectable" style="font-size:0.7rem;">secured by</div>

                <a class="navbar-item" href="https://profian.com" target="_blank">
                    <img src="https://try.enarx.dev/img/profian.svg" alt="Profian" style="width: 100px">
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="/">
                            Examples
                        </a>
                        <a class="button is-info" href="/drawbridge">
                            Drawbridge
                        </a>
                        <a class="button is-info" href="/upload">
                            Upload
                        </a>
                        <a class="logout button is-success" href="/logout">
                            Log out
                        </a>
                        <a class="login button is-success" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- non mobile navigation -->
        <div class="navbar-brand non-mobile-nav" style="width: 100%">
            <a class="navbar-item" href="https://enarx.dev" target="_blank">
                <img src="https://try.enarx.dev/img/enarx.png" alt="Enarx">
            </a>

            <div class="navbar-item p-0 unselectable" style="font-size:0.7rem;">secured by</div>

            <a class="navbar-item" href="https://profian.com" target="_blank">
                <img src="https://try.enarx.dev/img/profian.svg" alt="Profian" style="width: 100px">
            </a>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="/">
                            Examples
                        </a>
                        <a class="button is-info" href="/drawbridge">
                            Drawbridge
                        </a>
                        <a class="button is-info" href="/upload">
                            Upload
                        </a>
                        <a class="logout button is-success" href="/logout">
                            Log out
                        </a>
                        <a class="login button is-success" href="/login">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <article class="message is-warning is-hidden" id="warning_message">
                <div class="message-header">
                    <p>Warning</p>
                    <button class="delete" aria-label="delete" onclick="hideMessage()"></button>
                </div>
                <div id="message-body" class="message-body">
                    <span id="message"></span>
                </div>
            </article>
            <div class="content">
                <div class="has-text-centered is-size-3">
                    <strong>Try Enarx</strong> allows you to run a <a href="https://webassembly.org"
                        target="_blank">WebAssembly</a>
                    workload in an encrypted
                    <a href="https://enarx.dev" target="_blank">Enarx Keep</a>
                </div>
            </div>
            <br />
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-vertical">
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <p class="title">Workload</p>
                                <p class="has-text-centered">
                                    {% match page %}
                                    {% when Page::Examples %}
                                    <a href="https://enarx.dev/docs/Running/Publish" target="_blank">Deploy</a> an
                                    example from
                                    <strong>Drawbridge</strong>, an Enarx package registry.
                                    Example sources are from the <a href="https://github.com/enarx/codex"
                                        target="_blank">Codex</a>
                                    repository.
                                    {% when Page::Drawbridge %}
                                    <a href="https://enarx.dev/docs/Running/Publish" target="_blank">Deploy</a> any slug
                                    from
                                    <strong>Drawbridge</strong>, an Enarx package repository.
                                    {% when Page::Upload %}
                                    Upload a <a href="https://enarx.dev/docs/WebAssembly/Introduction"
                                        target="_blank">WebAssembly</a>
                                    file and <a href="https://enarx.dev/docs/running/enarx_toml" target="_blank">Enarx
                                        Configuration</a>.
                                    {% endmatch %}
                                </p>
                                <br />
                                <form id="workloadForm" onsubmit="onSubmit(event)">
                                    {% match page %}
                                    {% when Page::Examples %}
                                    <input class="input" type="hidden" name="workloadType" value="drawbridge">
                                    <div class="field">
                                        <label class="label">
                                            Select an example (<a id="slugUrl" href="https://github.com/enarx/codex"
                                                target="_blank">source</a>)
                                        </label>
                                        <div class="select">
                                            <select id="slug" name="slug" onchange="updateExampleInfo()">
                                                {% for example in examples %}
                                                {% if example.disabled != Some(true) %}
                                                <option id="{{example.slug}}" data-url="{{example.url}}"
                                                    data-description="{{example.description}}">{{ example.slug }}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Description</label>
                                        <p id="exampleDescription"></p>
                                    </div>
                                    {% when Page::Drawbridge %}
                                    <input class="input" type="hidden" name="workloadType" value="drawbridge">
                                    <div class="field">
                                        <label class="label">Drawbridge package</label>
                                        <input class="input" type="text" name="slug" placeholder="user/my-repo:0.1.0">
                                    </div>
                                    {% when Page::Upload %}
                                    <input class="input" type="hidden" name="workloadType" value="upload">
                                    <div class="file">
                                        <label class="file-label">
                                            <input id="wasmInput" class="file-input" type="file" name="wasm"
                                                accept="application/wasm">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    WebAssembly file...
                                                </span>
                                            </span>
                                            <span id="file-name" class="file-name">
                                                No file selected
                                            </span>
                                        </label>
                                    </div>
                                    <br />
                                    {% endmatch %}
                                    <span class="has-text-weight-bold">Workload limits:</span>
                                    {% match page %}
                                    {% when Page::Examples %}
                                    <span>{{ ttl }} seconds</span>
                                    {% when Page::Drawbridge %}
                                    <span>{{ ttl }} seconds</span>
                                    {% when Page::Upload %}
                                    <span>{{ ttl }} seconds / {{ size_human }}</span>
                                    {% endmatch %}
                                    <br />
                                    <p>
                                        {% if star %}
                                        Thanks for starring the Enarx project!
                                        {% else %}
                                        To raise the workload limits, star <a href="https://github.com/enarx/enarx"
                                            target="_blank">the
                                            Enarx
                                            project</a>.
                                        {% endif %}
                                    </p>
                                    <br />
                                    <button id="deployButton" type="submit" class="button is-success">Deploy</button>
                                    <button id="killButton" class="button is-danger" disabled
                                        onclick="killWorkload(event)">Kill</button>
                                </form>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <p class="title">Ports</p>
                                <div id="ports" class="is-size-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-8">
                    <div class="tile is-vertical">
                        {% match page %}
                        {% when Page::Examples %}
                        {% when Page::Drawbridge %}
                        {% when Page::Upload %}
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <p class="title">Configuration</p>
                                <pre id="editor">{{ toml }}</pre>
                            </div>
                        </div>
                        {% endmatch %}
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <p class="title">Console</p>
                                <pre id="console" style="border-radius: 5px"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bd-index-section" style="--bd-section-h: 229deg;">
        <div class="bd-heading">
            <span class="icon has-text-link is-size-2-widescreen">
                <i class="fas fa-microchip"></i>
            </span>
            <h2 class="title has-text-black mb-0 is-size-2-widescreen">
                Select a <strong>platform</strong>
            </h2>
            <div class="subtitle mb-0 mt-0 is-size-4-widescreen">
                Try another <strong>platform</strong>
            </div>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <div class="bd-tw-content">
                            <a href="https://sgx.equinix.try.enarx.dev/" target="_blank"><img
                                    src="https://try.enarx.dev/img/equinix_intel.png" alt="Intel on Equinix"></a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <div class="bd-tw-content">
                            <a href="https://snp.equinix.try.enarx.dev/" target="_blank"><img
                                    src="https://try.enarx.dev/img/equinix_amd.png" alt="AMD on Equinix"></a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Other platforms coming soon</strong>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="bd-index-section">
        <div class="bd-heading">
            <span class="icon has-text-success is-size-2-widescreen">
                <i class="fas fa-graduation-cap"></i>
            </span>
            <h2 class="title has-text-black mb-0 is-size-2-widescreen">
                Choose a <strong>language</strong>
            </h2>
            <div class="subtitle mb-0 mt-0 is-size-4-widescreen">
                Learn how to compile to <strong>WebAssembly</strong>
            </div>
            <a class="button bd-fat-button is-success is-light is-size-4-widescreen"
                href="https://enarx.dev/docs/WebAssembly/Introduction" target="_blank">
                <span class="icon has-text-success">
                    <i class="fas fa-graduation-cap"></i>
                </span>
                <span>
                    Visit the <strong>Wasm</strong> guide
                </span>
            </a>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>C</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/C" target="_blank"><img
                                    src="https://try.enarx.dev/img/c_128x128.png" alt="C"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Rust</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/Rust" target="_blank"><img
                                    src="https://try.enarx.dev/img/rust_128x128.png" alt="Rust"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>AssemblyScript</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/AssemblyScript" target="_blank"><img
                                    src="https://try.enarx.dev/img/assemblyscript_128x128.png" alt="AssemblyScript"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Python</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/Python" target="_blank"><img
                                    src="https://try.enarx.dev/img/python_128x128.png" alt="Python"></a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>C++</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/C++" target="_blank"><img
                                    src="https://try.enarx.dev/img/cpp_128x128.png" alt="C++"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Golang</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/Golang" target="_blank"><img
                                    src="https://try.enarx.dev/img/golang_128x128.png" alt="Golang"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>JavaScript</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/JavaScript" target="_blank"><img
                                    src="https://try.enarx.dev/img/javascript_128x128.png" alt="JavaScript"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Swift</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/Swift" target="_blank"><img
                                    src="https://try.enarx.dev/img/swift_128x128.png" alt="Swift"></a>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>.NET</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/dotnet" target="_blank"><img
                                    src="https://try.enarx.dev/img/csharp_128x128.png" alt=".NET"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Ruby</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/Ruby" target="_blank"><img
                                    src="https://try.enarx.dev/img/ruby_128x128.png" alt="Ruby"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>TypeScript</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="https://enarx.dev/docs/webassembly/TypeScript" target="_blank"><img
                                    src="https://try.enarx.dev/img/typescript_128x128.png" alt="TypeScript"></a>
                        </div>
                    </article>
                    <article class="bd-tw bd-best-item bd-is-huge ">
                        <header class="bd-tw-header">
                            <strong>Java</strong>
                        </header>
                        <div class="bd-tw-content">
                            <a href="#"><img src="https://try.enarx.dev/img/java_128x128.png" alt="Java"></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="bd-index-section" style="--bd-section-h: 44deg;">
        <div class="bd-heading">
            <span class="icon has-text-expo is-size-2-widescreen">
                <i class="fas fa-star"></i>
            </span>
            <h2 class="title has-text-black mb-0 is-size-2-widescreen">
                <strong>Wasm gallery</strong>
            </h2>
            <div class="subtitle mb-0 mt-0 is-size-4-widescreen">
                Explore the <strong>examples</strong>. More coming soon...
            </div>
            <a class="button bd-fat-button is-expo is-light is-size-4-widescreen" href="https://github.com/enarx/codex"
                target="_blank">
                <span class="icon has-text-expo">
                    <i class="fas fa-star"></i>
                </span>
                <span>
                    Visit the <strong>Codex</strong> repo
                </span>
            </a>
        </div>
        <div class="bd-screenshots">
            <a class="bd-screenshot " href="https://github.com/enarx/GreenhouseMonitor" target="_blank">
                <img src="https://try.enarx.dev/img/greenhouse.png" width="700" height="350" alt="GreenhouseMonitor">
                <button class="button is-info" style="width:100%; margin-top:10px;">Greenhouse Monitor</button>
            </a>
            <a class="bd-screenshot " href="https://github.com/enarx/cryptle" target="_blank">
                <img src="https://try.enarx.dev/img/cryptle.png" width="700" height="350" alt="Cryptle">
                <button class="button is-info" style="width:100%; margin-top:10px;">Cryptle</button>
            </a>
            <a class="bd-screenshot " href="https://github.com/enarx/codex/tree/main/Rust/tokio-http" target="_blank">
                <img src="https://try.enarx.dev/img/tokio-minihttp.png" width="700" height="350" alt="Tokio Mini HTTP">
                <button class="button is-info" style="width:100%; margin-top:10px;">Tokio Mini HTTP</button>
            </a>
            <a class="bd-screenshot " href="https://github.com/enarx/codex/tree/main/Rust/mio-echo-tcp" target="_blank">
                <img src="https://try.enarx.dev/img/tokio-mio.png" width="700" height="350" alt="Mio TCP Echo Server">
                <button class="button is-info" style="width:100%; margin-top:10px;">Mio TCP Echo Server</button>
            </a>
        </div>
    </section>
    <section class="bd-index-section" style="--bd-section-h: 330deg;">
        <div class="container">
            <header class="has-text-centered">
                <h3 class="title is-3">
                    <a class="has-text-info" href="https://chat.enarx.dev" target="_blank">
                        Join our <strong>community</strong>
                    </a>
                </h3>
            </header>
            <div class="hero-buttons">
                <a class="button bd-fat-button is-info is-large" href="https://chat.enarx.dev" target="_blank">
                    <span class="icon">
                        <i class="fas fa-commenting-o"></i>
                    </span>
                    <span><strong>Chat</strong></span>
                </a>
                <a class="button bd-fat-button is-black is-large" href="https://github.com/enarx/enarx" target="_blank">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="bd-footer-links">
                <div class="columns">
                    <div class="column">
                        <p class="bd-footer-link-title">
                            <a href="https://enarx.dev" target="_blank">Documentation</a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Start/Introduction" target="_blank">
                                Getting Started
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/QuickStart" target="_blank">
                                Installation Guide
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Running/Publish" target="_blank">
                                Running Enarx Guide
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/WebAssembly/Introduction" target="_blank">
                                WebAssembly Guide
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Contributing/Introduction" target="_blank">
                                Contributing Guide
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Repo/Introduction/" target="_blank">
                                Enarx Repo Guide
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Technical/Introduction" target="_blank">
                                Technical Overview
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <p class="bd-footer-link-title">
                            <a href="https://enarx.dev/resources" target="_blank">Resources</a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources" target="_blank">
                                All Resources
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags" target="_blank">
                                All Tags
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags/release" target="_blank">
                                Releases
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags/white-paper" target="_blank">
                                White Papers
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags/enarxs-blog" target="_blank">
                                Blog Posts
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags/article" target="_blank">
                                Articles
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/resources/tags/event" target="_blank">
                                Events
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <p class="bd-footer-link-title">
                            <a href="https://enarx.dev" target="_blank">Community</a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://github.com/enarx/enarx" target="_blank">
                                GitHub
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://chat.enarx.dev/" target="_blank">
                                Chat
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://blog.enarx.dev/" target="_blank">
                                Blog
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://twitter.com/enarxproject" target="_blank">
                                Twitter
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/events" target="_blank">
                                Events
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/webinars" target="_blank">
                                Webinars
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/meetings" target="_blank">
                                Meetings
                            </a>
                        </p>
                    </div>
                    <div class="column">
                        <p class="bd-footer-link-title">
                            <a href="https://enarx.dev" target="_blank">Initiatives</a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://try.enarx.dev" target="_blank">
                                Try Enarx
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/docs/Fellowship/Introduction" target="_blank">
                                Fellowship Program
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://enarx.dev/cryptle" target="_blank">
                                Cryptle Hack Challenge
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://wasm.builders" target="_blank">
                                Wasm Builders
                            </a>
                        </p>
                        <p class="bd-footer-link">
                            <a href="https://github.com/enarx/codex/" target="_blank">
                                Wasm Codex
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% if user %}<div id="authenticated" class="is-hidden"></div>{% endif %}
    <script>
        var enarxTomlEditor = null;
        var console = window.document.getElementById('console');
        var deployButton = window.document.getElementById('deployButton');
        var killButton = window.document.getElementById('killButton');
        var __workload = null;
        var authenticated = window.document.getElementById('authenticated');

        $(function () {
            if (document.getElementById("editor")) {
                enarxTomlEditor = ace.edit("editor");
                enarxTomlEditor.session.setMode("ace/mode/toml");
            }

            var fileInput = document.querySelector('#wasmInput');

            if (fileInput) {
                fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                        const fileName = document.querySelector('#file-name');
                        fileName.textContent = fileInput.files[0].name;
                    }
                }
            }

            consoleClear();
            setWorkload(null);
            killWorkload();
            setAuthenticated(authenticated);
            updateExampleInfo();

            if (!authenticated) {
                consoleWrite('> Please login to deploy workloads\n');
            }
        });

        function consoleClear() {
            console.innerText = '';
        }

        function consoleWrite(text) {
            if (text != '') {
                console.innerText = console.innerText + text;
            }
        }

        function exampleSlugExists(slug) {
            return document.getElementById('slugSelect').innerHTML.indexOf(slug) !== -1;
        }

        function setSlugParam(slug) {
            if (!slug) {
                queryParams.delete('slug');
            } else {
                queryParams.set('slug', slug);
            }

            history.replaceState(null, null, "?" + queryParams.toString());
        }

        function setSlugField(slug) {
            if (exampleSlugExists(slug)) {
                window.document.getElementById('slugSelect').value = slug;
            } else {
                window.document.getElementById('slugSelect').value = customSlugValue;
                window.document.getElementById('customSlug').value = slug;
            }
        }

        function currentSlug() {
            return document.getElementById('slug').value;
        }

        function updateExampleInfo() {
            var desc = document.getElementById('exampleDescription');
            var url = document.getElementById('slugUrl');
            var slugData = document.getElementById(currentSlug()).dataset;
            desc.innerHTML = slugData.description;
            url.setAttribute('href', url);
        }

        function onSubmit(event) {
            event.preventDefault();

            var data = new FormData(document.querySelector('#workloadForm'))

            if (enarxTomlEditor) {
                data.append('toml', enarxTomlEditor.getValue());
            }

            consoleClear();
            consoleWrite('> Starting workload...\n');

            $.ajax({
                url: '/',
                data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                success: function (data) {
                    setWorkload(data);
                    setAuthenticated(true);
                },
                error: function (error) {
                    setWorkload(null);
                    consoleClear();
                    consoleWrite('> Failed to start workload: ' + error.statusText + '\n');

                    if (error.responseText) {
                        consoleWrite('\n' + error.responseText);
                    }

                    if (error.status == 401) {
                        setAuthenticated(false);
                    }
                }
            });
        }

        function killWorkload(event) {
            if (event) {
                event.preventDefault();
            }

            if (getWorkload()) {
                setWorkload(null);
                $.ajax({ url: '/', method: 'DELETE', });
                consoleWrite('> Killing workload');
            }
        }

        var errorCount = 0;
        var pendingRequests = 0;

        setInterval(function () {
            if (!getWorkload()) {
                return;
            }

            function fetchConsoleOutput(urls) {
                for (var i = 0; i < urls.length; i++) {
                    pendingRequests++;
                    var url = urls[i];

                    $.ajax({
                        url,
                        method: 'POST',
                        success: function (data) {
                            errorCount = 0;
                            consoleWrite(data);
                            pendingRequests--;
                            setAuthenticated(true);
                        },
                        error: function (error) {
                            errorCount++;

                            if (errorCount > 10) {
                                setWorkload(null);
                            }

                            pendingRequests--;
                        }
                    });
                }
            }

            if (pendingRequests == 0) {
                fetchConsoleOutput(["/out", "/err"]);
            }
        }, 250);

        function getWorkload() {
            return __workload;
        }

        function workloadPorts() {
            return Object.keys(__workload.ports).length;
        }

        function setWorkload(newWorkload) {
            __workload = newWorkload;
            var portsTag = window.document.getElementById('ports');

            if (!getWorkload()) {
                portsTag.innerText = 'No workload running';
                deployButton.removeAttribute('disabled');
                killButton.setAttribute('disabled', '');
                return;
            }

            deployButton.setAttribute('disabled', '');
            killButton.removeAttribute('disabled');

            if (workloadPorts() == 0) {
                portsTag.innerText = 'No pre-opened ports';
                return;
            }

            function portList() {
                var result = '';
                var mappedPorts = Object.entries(getWorkload().ports);

                for (var i = 0; i < mappedPorts.length; i++) {
                    var map = mappedPorts[i];
                    var hostPort = map[0];
                    var containerPort = map[1];
                    result +=
                        '<li>Port ' + hostPort + ' -> ' + containerPort +
                        ' (<a href="https://' + window.location.hostname + ':' + hostPort + '/" target="_blank">link</a>)</li>';
                }

                return result;
            }

            portsTag.innerHTML = '<ul>' + portList() + '</ul>';
            // setAuthenticated overrides button states set by setWorkload
            setAuthenticated(authenticated);
        }

        function setAuthenticated(isAuthenticated) {
            authenticated = isAuthenticated;
            var nav = window.document.getElementsByTagName('nav')[0];

            if (isAuthenticated) {
                deployButton.removeAttribute('disabled');
                nav.setAttribute('data-authenticated', 'true');
            } else {
                deployButton.setAttribute('disabled', '');
                nav.setAttribute('data-authenticated', 'false');
            }

            if (enarxTomlEditor) {
                enarxTomlEditor.setReadOnly(!authenticated);
            }
        }
    </script>
</body>

</html>